<!doctype html>
<html lang="en-US">
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=500px" />

        <title>Victor Huang</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='animation.css')}}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
        <div class="sq-container">
            <div class="sq1 full-spin"></div>
            <div class="sq2 full-spin"></div>
            <div class="sq3 full-spin"></div>
            <div class="sq4 full-spin"></div>
        </div>
    <body>
        
    </body>


</html>